.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-400);
  padding: 0px 32px;
  width: 100%;
  height: 72px;
  max-width: var(--maximum-page-width);
  flex-shrink: 0;
  background: var(--background);
  

  .user,
  .logo,
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  nav {
    a {
      border-radius: 6px;
      padding: 8px;
      height: 40px;
      font-family: var(--font-geist-roboto);
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: var(--gray-600);
    }

    a:hover{
      color: var(--brand-800);
    }
  }

  .logo {
    span {
      font-family: var(--font-geist-roboto);
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      color: var(--gray-900);
    }
  }

  .user {
    gap: 20px;
  }
}
