.transactionActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 22px;
  list-style-type: none;

  img {
    width: 48px;
    height: 48px;
  }
}
