.transactionButton {
  border: 1px solid var(--gray-100);
  border-radius: 12px;
  width: 100%;
  max-width: 384px;
  height: 88px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background: var(--background);

  &:hover {
    background: var(--gray-50);
  }

  button {
    padding: 20px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    width: 100%;

    .heading {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h2 {
        display: flex;
        font-family: var(--font-geist-roboto);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: var(--gray-900);
      }

      p {
        display: flex;
        font-family: var(--font-geist-roboto);
        font-weight: 400;
        font-size: 12px;
        line-height: 143%;
        color: var(--gray-600);
      }
    }
  }
}