.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lastTransactions {
  border: 1px solid var(--gray-100);
  border-radius: 12px;
  width: 100%;
  margin: 0 auto; // Таблица по горизонтали
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

  .table {
    width: 100%;
    border-spacing: 0; // отступы между ячейками
    border-collapse: collapse; // склеиваем границы ячеек

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid var(--gray-100);
    }

    thead th {
      background-color: var(--gray-50);
      font-weight: 700;
      font-size: 14px;
      color: var(--gray-900);
    }

    tbody tr:nth-child(even) {
      background-color: var(--gray-50); // Чередование фона строк
    }

    .color {
      width: 5px;
      height: 10px;
      border-radius: 3px;
      margin-right: 10px;
      padding: 8px;
    }

    .name {
      min-width: 180px;
    }

    .date,
    .category,
    .amount {
      white-space: nowrap;
    }

    .amount {
      text-align: right;
      font-weight: 600;
    }

    .action {
      width: 60px;
      text-align: center;
    }

    .income {
      color: var(--success-500);
    }

    .expenses {
      color: #C53440;
    }

    .transfer {
      color: var(--brand-600);
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  .header {
    padding: 24px;
    width: 100%;
    height: 100px;
    background-image: url("../../public/bg/piggy_bank_broken.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;

    h2 {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      color: var(--gray-900);
    }

    p {
      margin: 8px 0 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: var(--gray-600);
    }
  }

  .loadMore {
    display: block;
    margin: 16px auto;
    padding: 12px 24px;
    border: none;
    background-color: var(--brand-500);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--brand-600);
    }
  }
}