.overview {
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 0 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filter {
    display: flex;
    max-width: 800px;
    flex-shrink: 0;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 1px solid var(--gray-100);
    border-radius: 8px;

    li {
      height: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      border-right: 1px solid var(--gray-100);
      overflow: hidden;
    }

    li:first-child {
      border-radius: 8px 0 0 8px;
    }

    li:last-child {
      border-radius: 0 8px 8px 0;
      border-right: none;
    }
  }
  .button {
    height: 100%;
    font-family: var(--font-geist-roboto);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--gray-600);
    background-color: transparent;
    border: none;
    cursor: pointer;
    appearance: none;
    padding: 10px;

    &:hover {
      color: var(--brand-600);
      background-color: var(--brand-100);
    }
  }

  .calendar {
    margin-left: 10px;
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    padding: 10px 14px;
    width: 185px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: var(--gray-600);
    background-color: transparent;

    &:hover {
      color: var(--brand-600);
      background-color: var(--brand-100);
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 32px;

  .wallet,
  .income,
  .expense {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--gray-100);
    border-radius: 12px;
    padding: 24px;
    width: 384px;
    height: 120px;
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
    background: transparent;

    h2 {
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      color: var(--gray-600);
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-weight: 600;
        font-size: 36px;
        line-height: 122%;
        letter-spacing: -0.02em;
        color: var(--gray-950);
      }

      span {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        text-align: center;
        color: var(--gray-950);
        border: 1px solid var(--gray-200);
        border-radius: 6px;
        padding: 2px 10px 2px 8px;
        width: 74px;
        height: 24px;
      }
    }
  }

  .wallet {
    div {
      p {
        color: var(--brand-600);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (max-width: 600px) {
}

@media (prefers-color-scheme: dark) {
}
